<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">{{count}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="test()">Test</a>
    </li>
  </ul>
</nav>
