<div>
    <button (click)='test()'>TEST</button>
    <app-search [(moviesList)]="moviesList" (list)="moviesListChange($event)" ></app-search>
</div>
<div >
    <app-result [(favorite)]="favorite" [(moviesList)]="moviesList" [(count)]="count" (countC2)="countModif($event)" (transfertFavoris)="transfertFav($event)"></app-result>
</div>
