<!--The content below is only a placeholder and can be replaced.-->
<app-nav [(title)]="title" [(count)]="count"></app-nav>
<!-- <button (click)="test2()">COUNT TEST</button> -->

  <div class="row">
    <div class="col-3">
      <app-favorite [(favorite)]="favorite" [(count)]="count" (MajCount)="count2Modif($event)" (delFav)="loadFavorite($event)"></app-favorite>
    </div>
    <div class="col-9">
      <app-movie-list [(favorite)]="favorite" [(count)]="count" (countC)="count2Modif($event)" (sendFav)="loadFavorite($event)" ></app-movie-list>
  </div>
  </div>
