<div class="card" *ngFor="let fav of favorite; index as i">
  <div class="row" id="{{i}}">
    
    <div class="col-md-4 ml-2 mt-2">
      <button class="btn btn-danger float-left" (click)="removeFav(i)">X</button>
      <img src="https://image.tmdb.org/t/p/w154/{{fav.poster}}" class="w-20">
    </div>
    <div class="col-md-8 px-3">
      <div class="card-block px-3">
        <h4 class="card-title">{{fav.title}}</h4>
      </div>
    </div>
  </div>
</div>
